*.py[cod]
*.swp
*.log
*.db
*.sqlite3
/mongoadmin/mongoadmin/settings/secrets.json
/mongoadmin/*.pydevproject
/mongoadmin/.settings
/mongoadmin/media
/mongoadmin/logs
/mongoadmin/.project
/mongoadmin/.coverage
/mongoadmin/htmlcov
