{% extends "mongonaut/base.html" %}
{% load url from future %}

{% block breadcrumbs %}
<a class="btn btn-primary btn-sm" href="{% url "document_list" app_label document_name %}">返回列表</a>
{% endblock breadcrumbs %}

{% block content %}
<h1>添加{{ document_doc }}</h1>
{% include "mongonaut/includes/form.html" %}

{% endblock content %}

{% block extrajs %}
    <script src="{{ JQUERY_VALIDATE_JS }}"></script>
    <script src="{{ STATIC_URL }}mongonaut/js/validate/messages_cn.js" type="text/javascript"></script>
    {{ form.media }}
{% endblock extrajs %}

{% block inlinejs %}
// select CSS渲染
select_picker = $('.selectpicker');
if( 0 != select_picker.length){
    select_picker.selectpicker();
}

// 省市区三级联动
var selects = $("[title='location_select']");
for (i=0; i<selects.length; i++) {
    var id = selects[i].id;
    var index = id.lastIndexOf('0');
    if( index == id.length-1){
        var prefix = id.slice(0, index);
        addressInit(prefix+'0', prefix+'1', prefix+'2');
    }
}

$("#field_form").validate({
    onsubmit: true,// 是否在提交是验证 
    onkeyup: false,
    onclick: false,
    errorClass: "validate-error",
    rules:{
    {{ form.validations | safe }}
    }
})
{% include 'mongonaut/includes/list_add.js' %}
{% endblock inlinejs %}
